

.header {
    position: fixed;
    z-index: 2;
    top: 0;
    width: 100%;
    height: $h-mb;
    border-bottom: 1px solid $c-black;
    background: $c-gray;
    transition: $hd-ts;
    &::before {
        content: "";
        position: absolute;
        display: inline-block;
        z-index: 1;
        width: 100%;
        height: 100vh;
        background: #14141488;
        transition: .5s;
        opacity: 0;
        visibility: hidden;
    }
    
    //Tab
    @include screen-tab {
        height: $h-tab;
    }
    //PC
    @include screen-pc {
        top:0;
        width: 230px;
        height: 100vh;
        border-bottom: none;
        border-right: 1px solid $c-black;
        background: none;
        transform: translateY(0);
        &::before {
            display: none;
        }
    }
    // Circle ロゴ
    &__logo {
        cursor: pointer;
        position: fixed;
        width: $lw-mb;
        top: (($h-mb)-($lw-mb))/2;
        left: $pd-mb;
        transition: .3s ease-out;
        animation: logo-rotate 15s infinite linear;
        
        
        //Tab 
        @include screen-tab {
            top: (($h-tab)-($lw-tab))/2;
            left: $pd-tab;
            width: $lw-tab;
        }
        //PC 
        @include screen-pc {
            width: $lw-pc;
            top: (229px - ($lw-pc))/2;
            left: (229px - ($lw-pc))/2;
        }
        // hover時の中のcircleアクション
        &:hover .header__logoC2 {
            transform: scale(0.9);
            & svg {
                fill: #89e4e4;
                opacity: .3;
            }
        }
        &:hover .header__logoC3 {
            transform: scale(0.8);
            & svg {
                fill: #b5f1e7;
                opacity: .3;
            }
        }
    }
    // circle1 一番大きい円
    &__logoC1 {
        width: 100%;
        
        svg {
            width: 100%;
            animation: logo-bgc 10s infinite linear;
        }
    }
    //中のcircle2
    &__logoC2 {
        position: absolute;
        top: 8%;
        left: 8%;
        width: 70%;
        transition: .6s;
        
        svg {
            width: 100%;
            opacity: .2;
            transition: .5s;
            animation: logoC2-light-mb 6s infinite;
            //PC
            @include screen-pc {
                animation: logoC2-light-pc 6s infinite;
            }
            
        }
    }
    //中のcircle3
    &__logoC3 {
        position: absolute;
        bottom: 7%;
        right: 8%;
        width: 80%;
        transition: .4s ease-out .1s;
        
        svg {
            width: 100%;
            opacity: .3;
            transition: .5s;
            animation: logoC3-light-mb 6s infinite;
            //PC
            @include screen-pc {
                animation: logoC3-light-pc 6s infinite;
            }
            
        }
    }
    // ▼ここからハンバーガーメニューの中
    &__wrap {
        position: fixed;
        z-index: 4;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 120px $pd-mb 60px $pd-mb;
        width: 70%;
        height: 100vh;
        background: $c-deep;
        transform: translateX(100%);
        transition: .7s;
    
        // PC
        @include screen-pc {
            z-index: -1;
            top: 0;
            left: 0;
            justify-content: flex-start;
            padding: 0 50px;
            width: 100%;
            background: none;
            transform: none;
        }
    }
}

// Gnavメニュー
.gnav {
    @include screen-pc {
        padding-top: (100vh/3)*2;
        width: 100%;
    }
    &__list {
        padding-bottom: 80px;
        // PC
        @include screen-pc {
            padding-bottom: 25px;
        }
    }
    &__link {
        position: relative;
        padding-left: 30px;
        vertical-align: middle;
        text-decoration: none;
        @include f-nav;
        color: $c-black;
        transition: $sl-ts;
        // PC
        @include screen-pc {
            font-size: 1.8rem;
            font-weight: 400;
            padding: 0;
        }

        &::before {
            content: "";
            position: absolute;
            bottom: 50%;
            left: 0;
            transform: translateY(50%);
            width: 4px;
            height: 60%;
            border-left: 1px solid $c-black;
            transition: $sl-ts;
            //PC
            @include screen-pc {
                display: none;
            }
        }

        &:hover {
            @include hover;
            &::before {
                @include hover;
            }
        }
        &:active {
            @include active;
            &::before {
                @include active;
            }
        }
        
    }
}

// ▲ハンバーガーメニューの中終わり

//▼ハンバーガーボタン
.btn {
    cursor: pointer;
    position: fixed;
    z-index: 4;
    top: 14px;
    right: $pd-mb;
    @include flex-center;
    width: 40px;
    height: 40px;
   
    //Tab
    @include screen-tab {
        top: $pd-tab;
        right: $pd-tab;
    }
    // PC
    @include screen-pc {
        display: none;
    }
    // ボタンライン上
    &__top {
        position: absolute;
        display: inline-block;
        width: 90%;
        height: 8px;
        background: $c-black;
        transform: translateY(-7px) scaleY(.4);
        transition: .5s ease-out;
        animation: btn-top-return .5s forwards;
        //Tab 
        @include screen-tab {
            width: 100%;
        }
    }
    // ボタンライン下
    &__bottom {
        position: absolute;
        display: inline-block;
        width: 90%;
        height: 8px;
        background: $c-black;
        transform: translateY(7px) scaleY(.4);
        transition: .5s ease-out;
        animation: btn-bottom-return .5s forwards;
        //Tab 
        @include screen-tab {
            width: 100%;
        }
    }
    //btn hover
    &:hover .btn__top {
        transform: translateY(-13px) scaleY(.4);
    }
    &:hover .btn__bottom {
        transform: translateY(13px) scaleY(.4);
    }
}


